<div class="row">
	<div class="whole-arrea">
		{% if data['ID'] %}
			<h1>{{ data['company'] }}</h1>

			<div class="clearfix"></div>
			Company: 
			<button class="btn company-form" data-ID="{{ data['ID'] }}" type="button"><i class="fa fa-pencil"></i></button>
			<button class="btn company-form" data-ID="" type="button"><i class="fa fa-plus"></i></button>
			
			<div class="clearfix"></div>
			Meeting: <button class="btn meeting-form" data-ID="" data-companyID="{{ data['ID'] }}" type="button"><i class="fa fa-plus"></i></button>
		{% else %}

			<div class="c" style="padding:50px;">
				<img src="/app/_images/sad_face.png" alt=""/>
				<p class="oops-text">Sowwy!</p></div>
			<div class="alert alert-danger c" role="alert">No company found or no permission to access it!</div>
		{% endif %}
	</div>
</div>

<div class="row">
	<ul>
		
	
	{% for row in meetings %}
	
	<li><a href="/content/{{ row['ID'] }}/{{ data['url'] }}/{{ row['url'] }}">{{ row['meeting'] }}</a></li>
	{% endfor %}
	</ul>
</div>