{% macro comment(data) %}{% import _self as macro %}
	<li>
		<blockquote class="comment-item">
			{% if data.deleted %}
				<div class="c">
					<em class="c g ">Comment has been deleted</em>
				</div>

				<footer class="text-right" style="margin-top:5px;">

					{{ data.name }}
					{% if data.tag %} <em>({{ data.tag }}</em>) {% endif %}&nbsp;
					<cite title="{{ data.timeago }}">{{ data.datein }}</cite>
				</footer>

			{% else %}

				{{ data.comment|raw }}
				<div class="clearfix"></div>
				<footer class="text-right" style="margin-top:5px; margin-bottom:10px;">
					{{ data.name }}
					{% if data.tag %} <em>({{ data.tag }}</em>) {% endif %}&nbsp;
					<cite title="{{ data.timeago }}">{{ data.datein }} </cite>
				</footer>

				<div class="clearfix"></div>

			{% endif %}
		</blockquote>

		<ul>
			{% for row in data['children'] %}
				{{ macro.comment(row) }}
			{% endfor %}


		</ul>
	</li>

{% endmacro %}

{% import _self as macro %}






<section id="content-area">
	{% if data['ID'] %}
		<section id="printpagepane">


			<div>
				<table style="border-bottom: 1px double #ccc;" class="table">
					<tr>
						<td rowspan="2" valign="bottom">
							<h1 style="margin-bottom: 0; padding-bottom: 0; line-height: 1;">Meetpad<br>
								<small>{{ _domain }}</small>
							</h1>
						</td>
						<td width="250"><em>Date Printed:</em> {{ date }}</td>
					</tr>
					<tr>
						<td><em>User:</em> {{ _user['name'] }}</td>
					</tr>


				</table>

			</div>



			<div id="body">
				<div class="clearfix" style="height: 100px;"></div>
				<h1 class="c">{{ data['meeting'] }}</h1>

				<div class="c s">
					<hr style="width: 400px; margin-left: auto; margin-right: auto;">
					{{ data['company'] }}
					<hr style="width: 400px; margin-left: auto; margin-right: auto;">
					Start: {{ data['timeStart']['short']['disp'] }} - End: {{ data['timeEnd']['short']['disp'] }}</div>

				<div class="clearfix" style="height: 100px;"></div>

				<table style="margin-left: 7px;" id="statstable" class="table">
					<tr>
						<td class="r" width="60"><strong>{{ data['totals']['attending'] }}</strong>
						</td>
						<td>
							<small>Attending</small>
						</td>
						<td class="r" width="60"><strong>{{ data['totals']['comments'] }}</strong>
						</td>
						<td>
							<small>Comments</small>
						</td>
						<td class="r" width="60"><strong>{{ data['totals']['resolution'] }}</strong></td>
						<td>
							<small>Resolutions</small>
						</td>
					</tr>
					<tr>
						<td class="r"><strong>{{ data['totals']['items'] }}</strong></td>
						<td>
							<small>Items</small>
						</td>
						<td class="r"><strong>{{ data['totals']['votes'] }}</strong>
						</td>
						<td>
							<small>Votes</small>
						</td>
						<td class="r"><strong>{{ data['totals']['discussion'] }}</strong></td>
						<td>
							<small>Discussion Links</small>
						</td>
					</tr>
					<tr>
						<td class="r"><strong>{{ data['totals']['polls'] }}</strong></td>
						<td>
							<small>Polls</small>
						</td>
						<td class="r">
							<strong class="g">{{ data['totals']['av_votes'] }}</strong></td>

						<td>
							<small>Available Votes</small>
						</td>
						<td class="r"><strong>{{ data['totals']['files'] }}</strong></td>
						<td>
							<small>Documents</small>
						</td>

					</tr>

					<tr>
						<td class="r"></td>
						<td></td>
						<td class="r"></td>
						<td></td>
						<td class="r">&nbsp;</td>
						<td>&nbsp;</td>
					</tr>

				</table>

				<div class="clearfix" style="height: 50px;"></div>

				<div class="pagebreak"></div>
				<h2>Attendees</h2>
				| {% for row in data['groups'] %} {{ row['group'] }} | {% endfor %}
				<table class="table" style="margin-top:30px;">
					<thead>

					<tr>
						<th>Participants</th>
						<th width="170"></th>
						<th class="c" width="60"><i class="fa fa-comments"></i></th>
						<th class="c" width="60"><i class="fa fa-check-square-o"></i></th>
					</tr>
					</thead>
					<tbody>
					{% for row in data['attending']['yes'] %}
						<tr>
							<td>
								{{ row['name'] }}
							</td>

							<td class="s dg">
								{{ row['lastActivity']['timeago'] }}
							</td>
							<td class="c">
								{% if row['cc'] %}{{ row['cc'] }}{% endif %}
							</td>

							<td class="c">
								{% if row['pc'] %}{{ row['pc'] }}{% endif %}
							</td>

						</tr>
					{% endfor %}
					<thead>
					<tr>
						<th colspan='4'>
							<div style="height: 30px;;"></div>
						</th>
					</tr>
					<tr>
						<th>Not Participating</th>
						<th width="170"></th>
						<th class="c" width="60"><i class="fa fa-comments"></i></th>
						<th class="c" width="60"><i class="fa fa-check-square-o"></i></th>
					</tr>
					</thead>
					<tbody>
					{% for row in data['attending']['no'] %}
						<tr>
							<td>
								{{ row['name'] }}
							</td>

							<td class="s dg">
								{{ row['lastActivity']['timeago'] }}
							</td>
							<td class="c">
								{% if row['cc'] %}{{ row['cc'] }}{% endif %}
							</td>

							<td class="c">
								{% if row['pc'] %}{{ row['pc'] }}{% endif %}
							</td>

						</tr>
					{% endfor %}

					</tbody>
				</table>
				<div class="pagebreak"></div>


				{% for row in data['content'] %}
					{% for rowsub in row['items'] %}
						<h3>
							<small>{{ row['category'] }}</small>

						</h3>
						<h3>
							{{ rowsub['heading'] }}

						</h3>

						{{ rowsub['date']['long']['date'] }} <em>{{ rowsub['date']['short']['time'] }}</em>
						{% if rowsub['commentCount'] %} |
							<em>Comments:</em> <strong>{{ rowsub['commentCount'] }}</strong> {% endif %}
						{% if rowsub['poll'] %} |
							<em>Votes:</em> <strong>{{ rowsub['poll']['votescount'] }}</strong>
						{% endif %}



						<h4>Description</h4>
						<div class="well">
							{{ rowsub['description']|raw }}
						</div>

						{% if rowsub['resolution'] %}
							<h4>Resolution</h4>
							<div class="alert alert-success">
								{{ rowsub['resolution']|raw }}
							</div>

						{% endif %}

						{% if rowsub['poll']['question'] %}
							<h4>Poll</h4>
							<strong>{{ rowsub['poll']['question'] }}</strong>



							<div class="poll-options">
								{% for row_poll in rowsub['poll']['options'] %}

									<div class="radio">
										<div style="width:{{ row_poll['percent'] }}%;" class="percent-bar"></div>
										<span class="label label-default pull-right">{{ row_poll['percent'] }}%</span>
										<label>({{ row_poll['votes'] }}) - {{ row_poll['answer'] }}
											<div class="s">{{ row_poll['voted'] }}</div>
										</label>

									</div>


									<div class="clearfix"></div>
								{% endfor %}
							</div>

						{% endif %}



						{% if rowsub['attachments'] %}
							<hr/>
							<h4>Attachments</h4>
							{% for row_file in rowsub['attachments'] %}
								<div class="attachment-item">
									<div class="col-sm-3 c thumb" style="min-width:150px;">
										{% if row_file['icon']=='thumbnail' %}
											<div style="height: 170px;" class="c">
												<img src="/thumbnail/{{ row_file['ID'] }}/{{ row_file['companyID'] }}/{{ row_file['meetingID'] }}/130/170/{{ row_file['filename'] }}" alt="" style="max-width:130px; cursor:pointer; border:1px solid #999;"/>
											</div>

										{% else %}
											<i class="fa <%= this.item.files[i].icon||'fa-file-o' %>" style=""></i>
										{% endif %}
									</div>
									<div>
										<h5>
											{{ row_file['filename'] }} - {{ row_file['filesize'] }}
										</h5>
										{{ row_file['description'] }}

										<strong>Seen:</strong> 
										<br>
										<strong>Downloaded:</strong> 

										<div class="clearfix"></div>
									</div>




								</div>
							{% endfor %}
						{% endif %}




						{% if rowsub['comments'] %}
							<h4>Comments</h4>




							<ul class="comments-list">
								{% for row_comment in rowsub['comments'] %}

									{{ macro.comment(row_comment) }}
								{% endfor %}
							</ul>
						{% endif %}



						<div class="pagebreak"></div>
					{% endfor %} {% endfor %}


			</div>
			<script>
				//window.print();
			</script>




		</section>


	{% else %}
		<div class="c" style="padding:50px;">

			<div class="c" style="position: relative;">
				<i class="fa fa-frown-o" style="font-size: 120px; color:rgba(255, 0, 0, 0.3)"></i>

				<div style="">
					<h3 class="g">Sowwy!!</h3>
				</div>
			</div>
		</div>
		{% if get['new']=="true" %}
			<div class="alert alert-danger c" role="alert">You created this meeting but you arent in any of the groups that have access to this meeting</div>
		{% else %}
			<div class="alert alert-danger c" role="alert">No meeting found or no permission to access it!</div>
		{% endif %}
	{% endif %}
</section>
